<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developerjp.JieunMotivationalQ">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="MotiMosaic"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.JieunMotivationalQ"
        android:exported="true"
        tools:targetApi="31"
        tools:ignore="Instantiatable">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2201141547916408~1568858261"/>

        <activity
            android:name="com.developerjp.JieunMotivationalQ.ShowQuotes">
        </activity>

        <activity
            android:name="com.developerjp.JieunMotivationalQ.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />
</manifest>
